*{
        /*border: 1px solid white;*/
}
.hero{
    top: 0px;
    position: fixed;
    display: flex;
    z-index: 1;
    height:100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.6);
}
.border{
    display: flex;
    justify-content: space-around;
    margin: auto;
    height: 95%;
    width: 95%;
    border: 1px solid white;
}
.card-container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 50%;
    height: 50%;
    margin: auto;
}
.logo{
    display: flex;
    justify-content: space-around;
}
.logo>img{
    width: 35%;
    height: 35%;
}
.name, .description{
    text-align: center;
    color: white;
}
.tabs{
    display: flex;
    justify-content: space-around;
}
.tabs>button{
    color: white;
}