/*zoomin feature on landing page backgorund*/

@keyframes zoomin {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.landingApp {
    height: 100vh;
    z-index: -1;
}

.slider {
    height: 100%;
    position: relative;
}

.sliderImg {
    z-index: -5;
    /*animation: zoomin 120s ease-in infinite;*/
    position: absolute;
    width: 100%;
    height: 100%;
}

.sliderImg one {
    background-size: cover;
    animation: fade 8s infinite;
    -webkit-animation: fade 8s infinite;
}

.sliderImg two {
    background-size: cover;
    animation: fade2 8s infinite;
    -webkit-animation: fade2 8s infinite;
}

.sliderImg three {
    background-size: cover;
    animation: fade3 8s infinite;
    -webkit-animation: fade3 8s infinite;
}
.sliderImg four {
    background-size: cover;
    animation: fade4 8s infinite;
    -webkit-animation: fade5 8s infinite;
}

.sliderImg five {
    background-size: cover;
    animation: fade5 8s infinite;
    -webkit-animation: fade5 8s infinite;
}

@keyframes fade {
    0% {opacity: 1}
    33.333% {opacity: 0}
    66.666% {opacity: 0}
    100% {opacity: 1}
}

@keyframes fade2 {
    0% {opacity: 0}
    33.333% {opacity: 1}
    66.666% {opacity: 0}
    100% {opacity: 0}
}

@keyframes fade3 {
    0% {opacity: 0}
    33.333% {opacity: 0}
    66.666% {opacity: 1}
    100% {opacity: 0}
}